:root {
  margin: 0 auto;
  width: 1200px;
  font-family: 'Nunito Sans', serif;
}

:root::before {
  content: 'Student Catalog';
  text-align: center;
  font-size: 2.5rem;
  margin: 24px 0;
  display: block;
}

student{
  margin: 24px 0;
  padding: 16px;
}

student::before {
  content: attr(index) " - " attr(name) " " attr(last_name);
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 12px;
}

name::before {
  content: 'Name: ';
  font-weight: bold;
  display: block;
}

name first_name::after {
  content: ' ';
}

name middle_name::after {
  content: ' ';
}

name perf_name::before {
  content: 'Preffered Name: ';
}

name perf_name::after {
  content: ' ';
}

name {
  margin: 12px 0;
}

contact::before {
  content: 'Contact Info: ';
  font-weight: bold;
  display: block;
}

contact email::before {
  content: 'Email: ';
}

contact phone::before {
  content: 'Phone Number: ';
}

email, phone {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}

school_info::before {
  content: 'Student Information: ';
  font-weight: bold;
  display: block;
}

school_info major::before {
  content: 'Major: ';
}

school_info minor::before {
  content: 'Minor: ';
}

school_info advisor::before {
  content: 'Advisor: ';
}

school_info id::before {
  content: 'ID: ';
}

major, minor, advisor, id {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}

school_info::after {
  content: 'Academic Information: ';
  font-weight: bold;
  display: block;
}

school_info gpa::before {
  content: 'GPA: ';
}

school_info enrollment_date::before {
  content: 'Enrollment Date: ';
}

school_info grad_date::before {
  content: 'Graduation Date: ';
}

gpa, enrollment_date, grad_date {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}
