:root {
  margin: 0 auto;
  width: 1200px;
  font-family: 'Nunito Sans', serif;
}

:root::before {
  content: 'Student Catalog';
  text-align: center;
  font-size: 2.5rem;
  margin: 24px 0;
  display: block;
}

student{
  margin: 24px 0;
  padding: 16px;
}

student::before {
  content: attr(index) " - " attr(name) " " attr(last_name);
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 12px;
}

name::before {
  content: 'Full Name: ';
  font-weight: bold;
  display: block;
}

name first_name::after {
  content: ' ';
}

name middle_name::after {
  content: ' ';
}

name perf_name::before {
  content: 'Preffered Name: ';
}

name perf_name::after {
  content: ' ';
}

name {
  margin: 12px 0;
}
